


<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
           href="/admin/admindashboard"
           class="list-group-item list-group-item-action py-2 ripple"
           aria-current="true"
           >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span>Main dashboard</span>
        </a>
        <a
           href="/admin/adminhome"
           class="list-group-item list-group-item-action py-2 ripple "
           >
          <i class="fas fa-chart-area fa-fw me-3"></i
            ><span>Vendors</span>
        </a>
        <a
           href="/admin/adminroom"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa-solid fa-house me-3"></i><span>Rooms</span></a
          >

        <a
           href="/admin/bookingdetail"
           class="list-group-item list-group-item-action py-2 ripple"
           >
         <i class="fa-solid fa-book-user me-3"></i> <span>Booking Status</span>
        </a>
        <a
           href="/admin/adminuserdetail"
           class="list-group-item list-group-item-action py-2 ripple"
           >
         <i class="fas fa-users fa-fw me-3"></i> <span>User</span>
        </a>
        <a
           href="/admin/adminsalesreport"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
          >

          <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa-solid fa-comment me-3"></i><span>User Feedback</span></a
          >
          <a
           href="/admin/logout"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa-solid fa-arrow-right-from-bracket me-3"></i><span>Logout</span></a
          >
       
          
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand" href="#">
       
             <span class="fw-bold">happyHolidays</span>
      </a>

      

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        

       
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container pt-4">

  </div>
</main>
<!--Main layout-->