{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/gijgo.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/slicknav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
   
  </head>
  <body>

    {{{body}}}
 

      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
       <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script
      src="https://kit.fontawesome.com/d46ab11f99.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/validation.js"></script>
    <script src="/javascripts/animated.headline.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/contact.js"></script>
    <script src="/javascripts/gijgo.js"></script>
    <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/jquery.magnific-popup.js"></script>a
    <script src="/javascripts/jquery.nice-selet.min.js"></script>
    <script src="/javascripts/jquery.paroller.min.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/jquery.slicknav.min.js"></script>
    <script src="/javascripts/jquery.sticky.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/mail-script.js"></script>
    <script src="/javascripts/one-page-nav-min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    


  </body>
</html> --}}
